[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==1.9.1"
django-extensions = "==1.6.1"
django-hvad = "==1.5.0"
django-qrcode = "==0.3"
django-registration = "==2.0.4"
jsonfield = "==1.0.3"
Pillow = "==3.1.0rc1"
j2cli = "==0.3.10"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
PyYAML = "==5.4.1"


[dev-packages]

[requires]
python_version = "2.7"
