Django == 1.9.1
django-extensions == 1.6.1
django-hvad == 1.5.0
django-qrcode == 0.3
django-registration == 2.0.4
jsonfield == 1.0.3
# 
# necessite 
#  apt install libjpeg-dev zlib1g-dev
Pillow == 3.1.0rc1
