div {
	display: block;
}
label {
	display: inline;
}
input {
	display: block;
}
.block {
	display: inline-block;
}

td {
	text-align: center;
}

table,th,td {
	border-collapse: collapse;
	border: 1px solid black;
}

.qr {
	width: 150px;
	height: 150px;
}
.photo {
	width: 150px;
	height: 150px;
}
.badge img,div {
/*	
	width: 165px;
*/
	display: block;
	height: 40px;
}

div#content {
	display: block;
}
