p {
	margin: 5px;
}
h1 {
	margin: 5px;
}

#container {
	display: block;
	margin:0 auto;
	height:auto;
	float: left;
	text-align: center;
}
/*
	width: 400px;
*/

#header {
	overflow: hidden;
	height:50px;
	text-align: center;
}
#content {
	overflow: hidden;
	height:auto;
	text-align: center;
}
.product {
	overflow: hidden;
	display: inline-block;
	height:auto;
}

.qr {
	width: 150px;
	height: 150px;
}
.photo {
	width: 150px;
	height: 150px;
}

#footer {
	height:170px;
}
.badge {
	overflow: hidden;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.flash {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.flash img {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.flash p {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.badge img {
	height: 55px;
}

.badge p {
	margin:0px 10px 0px 10px;
}

.badge.conso {
	margin:0px 10px 0px 10px;
}

/*
table {
	table-layout:fixed;
	position: absolute;
}
table,th,td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}
div {
	display: block;
}
label {
	display: inline;
}
input {
	display: block;
}
.block {
	display: inline-block;
}

td {
	text-align: center;
}



div#content {
	display: block;
}
*/
/*	
