#container {
	display: block;
	margin:0 auto;
	height:auto;
	float: left;
	text-align: center;
}
/*
	width: 400px;
	overflow: hidden;
*/

#header {
	height:100px;
	text-align: center;
}
#header h1 {
	margin: 0;
}
#content {
	overflow: hidden;
	height:auto;
	text-align: center;
}
.ingredient {
	font-size: 9px;
	margin: auto;
	column-count: 1;
	column-rule: 1px solid lightblue;
	width: 200px;
}
.product {
	overflow: hidden;
	display: inline-block;
	height:auto;
}

.qr {
	width: 150px;
	height: 150px;
}
.photo {
	width: 150px;
	height: 150px;
}

#footer {
	height:170px;
}
.badge {
	overflow: hidden;
	display: inline-block;
	text-align: center;
}
.badge img {
	height: 40px;
}

.badge.conso {
	margin:0px 50px 0px 50px;
}

/*
table {
	table-layout:fixed;
	position: absolute;
}
table,th,td {
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}
div {
	display: block;
}
label {
	display: inline;
}
input {
	display: block;
}
.block {
	display: inline-block;
}

td {
	text-align: center;
}



div#content {
	display: block;
}
*/
/*	
