<p>
{% if request.user.is_authenticated %}
	<a href="{% url 'drink-maconso' %}">{{ request.user.username }}</a> - <a href="{% url 'django.contrib.auth.views.logout' %}">Se déconnecter</a>
	{% if request.user.is_superuser %}
	- <a href="{% url 'admin:index' %}">Admin</a>
	- <a href="{% url 'drink-conso' %}">Les Consos</a>
	{% endif %}

{% else %}
	<a href="{% url 'django.contrib.auth.views.login' %}">Se connecter</a>/<a href="{% url 'registration_register' %}">S'enregistrer</a>
{% endif %}
 - <a href={% url 'index' %}>Home</a>
</p>
<div class="badge">
<p>QRDroïd</p>
<a href="https://play.google.com/store/apps/details?id=me.scan.android.client&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr-play-badge.png" /></a>
</div>
<div class="badge">
<p>QR Reader</p>
<a href="https://geo.itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
</div>
{% comment "Optional note" %}
<p>
<a href='{{ basehost }}{% url 'registration_activate' "123abc" %}'>
{{ basehost }}{% url 'registration_activate' "123abc" %}</a>
</p>
<p>
<a href='{{ baseurl }}{% url 'registration_activate' "123abc" %}'>
{{ baseurl }}{% url 'registration_activate' "123abc" %}</a>
</p>
http://{{ site.domain }}{% url 'registration_activate' "toto" %}

{% endcomment %}
