{% load staticfiles %}
{% load qr_tags %}

{% url 'index' as myurl %}
<div>
<p>Pour se connecter {{ baseurl|add:myurl }}
</p>
{% qr_from_text baseurl|add:myurl myclass="qr" %}
<p>Flasher ce tag
</p>
</div>

<div class="badge">
<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr-play-badge.png" />
<p><a href="https://play.google.com/store/apps/details?id=de.markusfisch.android.binaryeye&hl=fr&gl=US">"Binary Eye"</a></p>
</div>
<div class="badge">
<img style='height:40px;margin:8px;' alt="Get it on Google Play" src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg" />
<!-- 
<img style='height:40px;' height=40px alt="Get it on Google Play" src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg" /> 
-->
<p ><a href="{{ qrreaderurl }}">"QR Reader"</a></p>

{% comment "Get tool" %}

{% qr_from_text qrdroidurl myclass="qr" %}
<div class="badge">
<p>QRDroïd</p>
<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr-play-badge.png" />
</div>
{% qr_from_text qrreaderurl myclass="qr" %}
<div class="badge">
<p>QR Reader</p>
<div style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></div>
</div>

<a href={% url 'index' %}>Home</a>


<p>QRDroïd</p>
<a href="https://play.google.com/store/apps/details?id=me.scan.android.client&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr-play-badge.png" /></a>
</div>
<div class="badge">
<p>QR Reader</p>
<a href="https://geo.itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
</div>



<p>
<a href='{{ basehost }}{% url 'registration_activate' "123abc" %}'>
{{ basehost }}{% url 'registration_activate' "123abc" %}</a>
</p>
<p>
<a href='{{ baseurl }}{% url 'registration_activate' "123abc" %}'>
{{ baseurl }}{% url 'registration_activate' "123abc" %}</a>
</p>
http://{{ site.domain }}{% url 'registration_activate' "toto" %}

<p>QRDroid</p>
<a href="https://play.google.com/store/apps/details?id=me.scan.android.client&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/fr-play-badge.png" /></a>
</div>
<div class="badge">
<p>QRReader</p>
<a href="https://geo.itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8"><img src="https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg"></a>
{% endcomment %}
