{% load staticfiles %}
{% load qr_tags %}
<div class="product">
<p>
          <a href="{% url 'drink-show' drink.name %}">
          <img class="photo" src="{% static drink.photo.url %}"/>
          </a>
</p>
<p>
          <a href="{% url 'drink-show' drink.name %}">
            {{ drink.name }}
          </a>
</p>
<p>
          <a href="{% url 'drink-stock' drink.name %}">
          Solde : {{ drink.lastStock.quantity }}
          </a>
</p>
<p>
          <a href="{% url 'drink-take' drink.name %}">
          Take
          </a>
</p>
<p>
	<div class="qr">
          <a href="{% url 'drink-take' drink.name %}">
          {% url 'drink-take' drink.name as myurl %}
          {% qr_from_text baseurl|add:myurl %}
          </a>
	</div>
</p>
</div>
{% comment %}
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </table>
{% endcomment %}

