{% load staticfiles %}
{% load qr_tags %}
  <div class="block">
          <a href="{% url 'drink-take' drink.name %}">
    <table>
      <tr>
        <td>
          <img class="photo" src="{% static drink.photo.url %}"/>
        </td>
      </tr>
      <tr>
        <td>
            {{ drink.name }}
        </td>
      </tr>
      <tr>
        <td>
          Solde : {{ drink.lastStock.quantity }}
        </td>
      </tr>
      <tr>
        <td>
          {% url 'drink-take' drink.name as myurl %}
          {% qr_from_text baseurl|add:myurl myclass="qr" %}
        </td>
      </tr>
    </table>
          </a>
  </div>
